.editor-sidebar-panel {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: var(--c-lightest);
    border: 2px solid var(--c-border);
    border-left: none;
    border-top: none;
    border-radius: 0 0 8px 0;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ffffff;
}

/* Tab Navigation */
.editor-sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    padding: 0 var(--xs);
}

.editor-sidebar-logo img {
    max-width: 100%;
    max-height: 30px;
    object-fit: contain;
    justify-self: start;
}

/* Tab Navigation */
.editor-sidebar-tabs {
    display: flex;
    gap: 0;
    background-color: var(--c-lightest);
}

.editor-sidebar-tab-btn {
    flex: 1;
    padding: var(--xs) var(--m);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--c-l-accent);
    font-size: .75rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.editor-sidebar-tab-btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.editor-sidebar-tab-btn.active {
    color: #fff;
    border-bottom-color: var(--c-accent-border);
    /*background-color: rgba(74, 158, 255, 0.1);*/
    background-color: #324655;
}

/* Tab Contents Container */
.editor-sidebar-tab-contents {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--c-lighter);
}

/* Einzelner Tab Content */
.editor-sidebar-tab-content {
    display: none;
    width: 100%;
}

.editor-sidebar-tab-content.active {
    display: block;
}

/* Placeholder Styling */
.editor-sidebar-placeholder {
    padding: var(--m);
    text-align: center;
    color: var(--c-l-accent);
    font-size: .75rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px dashed var(--c-border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}