.editor-light-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--c-lighter);
    color: #fff;
    z-index: 1000;
    display: none;
    flex-direction: column;
    max-width: 380px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    border-left: 2px solid var(--c-border);
    border-bottom: 2px solid var(--c-border);

    &.visible {
        display: flex;
    }

    #light-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .editor-row {
        margin-top: var(--xxs);
        margin-bottom: var(--xxs);
        gap: var(--xxxl);
    }

    .editor-input-group {
        max-width: 160px;
    }

    .editor-row[data-section="position"].hidden {
        display: none;
    }

    .editor-row[data-section="rotation"].hidden {
        display: none;
    }

    .editor-row[data-section="look-at-position"].hidden {
        display: none;
    }

    .editor-actions {
        display: flex;
        outline: 2px solid var(--c-border);
    }

    .light-mode-toggle {
        width: 160px;
        box-sizing: border-box;
        border: 2px solid var(--c-border-light);
    
        .editor-btn:nth-child(2) {
            border-left: 2px solid var(--c-border-light);
        }

        .editor-btn {
            flex: 1;
            padding: 0;
            height: 24px;
            width: 100%;
            align-items: center;
            justify-content: center;
            border: none;
            display: flex;
            font-size: 0.8rem;

            &.active {
                background-color: var(--c-accent);
            }

            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}
