.editor-object-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--c-lighter);
    color: #fff;
    padding: 15px;
    z-index: 1000;
    display: none;

    &.visible {
        display: block;
    }

    .editor-title {
    }

    .editor-row {
        display: flex;
        justify-content: space-between;
    }
}

    .editor-btn {
    background-color: var(--c-accent);
    border: 1px solid var(--c-accent-border);
    color: white;
    cursor: pointer;
    padding: 5px;
    }

    input {
    height: 100%;
    box-sizing: border-box;
    max-width: 40px;
    text-align: end;

    background-color: var(--c-button);
    color: var(--c-body-text);
    border: none;

    &:focus {
        outline: none; /* entfernt den Fokus-Rahmen */
        border: 2px solid var(--c-border-light);
        background-color: var(--c-lightest);
    }
}

/* Entfernt Spin-Buttons bei number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.unit {
    background-color: var(--c-button);
    color: var(--c-body-text);
    padding: 0 8px;
    padding-left: 1px;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    border-radius: 0 var(--r-radius-button) var(--r-radius-button) 0;
}