.editor-anim-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--c-lighter);
    color: #fff;
    z-index: 1000;
    display: none;
    flex-direction: column;
    max-width: 400px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    border-left: 2px solid var(--c-border);
    border-bottom: 2px solid var(--c-border);

    &.visible {
        display: flex;
    }


    #editor-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .editor-value-display {
        width: 100%;
        max-width: 160px;
        box-sizing: border-box;
        font-size: .85rem;
        text-align: center;
        background-color: var(--c-dark);
        padding: var(--xxs);
        outline: 2px solid var(--c-border);
        border-radius: 5px;
        font-family: monospace;

    }

    .editor-row {
        margin-top: var(--xxs);
        margin-bottom: var(--xxs);
        gap: var(--xxxl);
    }

    .editor-input-group {
        max-width: 160px;
    }

    .editor-vector-input {
        padding: 0;
    }

    .editor-row:nth-of-type(1) {
        margin-top: var(--s);
        margin-bottom: var(--m);
    }

    .editor-row:nth-of-type(2) .editor-input-group {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .editor-row:nth-of-type(3) {
        margin-bottom: var(--m);
    
        .editor-input-group {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .editor-row:nth-of-type(4) .editor-input-group {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .editor-row:nth-of-type(5) .editor-input-group {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    input {
        position: relative;
        height: 25px;
        text-align: center;
        width: 100%;
        display: flex;
        flex: 1;
        max-width: none;
        font-family: monospace;

        &:focus {
            outline: none; /* entfernt den Fokus-Rahmen */
        }
    }

    .editor-actions {
        display: flex;
        outline: 2px solid var(--c-border);
    }

}